node_modules
client-build
build.txt
config_build.json
config_local*
client/audio/music
.DS_Store
*.swp
.idea/BrowserQuest.iml
.idea/copyright/profiles_settings.xml
.idea/jsLibraryMappings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
